---
// Component Imports
import Chart from '../components/Chart'
import Slide from '../components/Slide'
import Slides from '../components/Slides'
import { fetchData } from '../data';

const palette = [
	'#90C8AC',
	'#C4DFAA',
	'#F5F0BB',
	'#73A9AD'
]

const data1 = await fetchData(['486', '36'])
const data2 = await fetchData(['609', '853'])
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en" style="height: 100%; overflow: hidden">

<head>
	<style is:global>
		.recharts-text {
			font-size: 14px;
		}
	</style>

</head>

<body
	style="height: 100%; overflow: hidden; margin: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
	<Slides>
		<Slide style={{ background: palette[0] }}>
			<h1>Welcome !</h1>
			<h2>This content is before the fold !</h2>
		</Slide>
		<Slide style={{ background: palette[1] }}>
			<Chart client:visible operatorIds={['486', '36' ]} data={data1} />
		</Slide>
		<Slide style={{ background: palette[2] }}>
			<Chart client:visible operatorIds={['609', '853' ]} data={data2} />
		</Slide>
	</Slides>
</body>

</html>